<body>
  <div class="btn-group">
    <div class="canvas">
      <canvas id='c'></canvas>
    </div>
    <div id="gr">
      <img src="../assets/Logo/New ThinkTac Logo (Color).png" alt="Logo" height="60px" width="180px"
        style="padding: 20px;">


      <div>
        <div id="sunny">
          <b>Sunny</b>
        </div>
        <label class="switch"><input type="checkbox" (change)="toggle($event)">
          <div class="slider">
          </div>
        </label>
        <div id="cloud"><b>Cloudy</b></div>
        <div id="cr">
          <p>
            <b>Counter: </b><a id="counter"><b>{{counter}}</b></a>
          </p>
        </div>
        <div>
          <button id="b" (click)="addWeek()">
            Add a week</button>

          <button class="restart-btn" (click)="restart()">Restart Game</button>
        </div>
      </div>
    </div>
    <ul>
      <li> A potted plant is kept in a dark room.</li>
      <li> The position of the light source can be varied.</li>
      <li> Change the position of light source.</li>
      <li> Select the rate toggle Fast or Slow to change rate of growth of plant.</li>
      <li> Click on "Add a week" to see your plant grow.</li>
      <li> Click Restart Game button to restart the game.</li>
    </ul>
  </div>
</body>
